<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="allworks, all works, all works ingenieria, all works engineering, antenas, programacion">
<meta name="description"
  content="Página web oficial de All Works, empresa líder en tecnologías y servicios de vanguardia. ¡Sé parte del cambio y conviértete en nuestro cliente!">
<title>All Works Ingeniería - Página Oficial</title>
<link rel="canonical" href="https://allworks.com.ar">
<link rel="shortcut icon" href="/Favicon.png" type="image/png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
  <a href="https://wa.me/1124611212" id="btn-wsp" target="_blank">
    <i class="bi bi-whatsapp"></i>
  </a>
  <section class="principal">
    <div class="container portada">
      <h1 class="titulo">All Works Engineering</h1>
      <h3 class="subtitulo">Ingeniería en sistemas y automatización.</h3>
    </div>
    <div id="divFlecha">
      <span class="js flecha"></span>
      <span class="js flecha"></span>
    </div>
  </section>

  <header id="header" class="sticky-top">
    <nav>
      <div class="container">
        <ul>
          <li class="botones">
            <a class="nav-link active" aria-current="page" href="#nosotros">Sobre Nosotros</a>
          </li>
          <li class="botones">
            <a class="nav-link active" aria-current="page" href="#servicios">Servicios</a>
          </li>
          <li class="botones">
            <a class="nav-link active" aria-current="page" href="#clientes">Clientes</a>
          </li>
          <li class="botones">
            <a class="nav-link active" aria-current="page" href="#contacto">Contacto</a>
          </li>
          <li class="botones3">
            <a class="nav-link active" aria-current="page" href="./indexAWS.html"><b>All Works & Sat</b></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <section class="nosotros" id="nosotros">
    <div class="container-fluid">
    <h2>¿Quiénes somos?</h2>
    <h3>Somos proveedores <b>líder</b> de tecnologías y servicios de
      vanguardia.</h3>
    </div>
    <div class="flex bg-white h-96">
      <div class="w-7/12 h-full">
        <img src="/paneles1.jpg" class="h-full w-full object-cover" alt="paneles solares all works" loading="lazy" style="-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 92%); mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 98%);">
    </div>
    
    
      <div class="w-5/12">
        <p class="font-black text-center">Nuestra historia</p>
        <p>Nuestra empresa cuenta con más de 20 años de experiencia en el mercado dando servicios a grandes, medianas y pequeñas empresas en soluciones de infraestructura, telefonía IP, antenas satelitales, paneles solares, programación y soporte técnico. Nuestro propósito es llegar a cada casa y mejorar la vida de nuestros clientes.</p>
      </div>
    </div>
    <div class="flex bg-white h-96">
      <div class="w-5/12"><p>asdalspodaospdkasdoapsl</p></div>
      <div class="w-7/12 h-full"><img src="/paneles1.jpg" class="h-full w-full object-none" alt="paneles solares all works" loading="lazy"></div>
    </div>
    <!-- <div class="container">
      <div  class="relative">
          <div class="nuevo2">
            <h4 class="centrar tituloInfo">¿Por qué elegirnos?</h4>
            <p class="info">Ofrecemos servicios innovadores e inteligentes y escuchamos con atención a nuestros
              potenciales clientes para entender correctamente sus necesidades y exceder las
              expectativas que tengan de nuestro producto. Contamos con los mejores profesionales y
              trabajamos con productos de marcas líderes sabiendo ajustar nuestra oferta a las
              necesidades cambiantes del mercado.</p>
          </div>
          <div id="carouselExampleSlidesOnly" class="divImagenes2 carousel slide h-100 w-100" data-bs-ride="carousel"
          data-bs-pause="false">
          <div class="carousel-inner h-100 w-100">
            <div class="carousel-item active h-100" data-bs-interval="3000">
              <img src="/paneles1.jpg" class="d-block w-100" alt="paneles solares all works" loading="lazy">
            </div>
            <div class="carousel-item h-100" data-bs-interval="3000">
              <img src="/paneles2.jpg" class="d-block w-100" alt="antena all works" loading="lazy">
            </div>
            <div class="carousel-item h-100" data-bs-interval="3000">
              <img src="/paneles3.jpg" class="d-block w-100" alt="paneles solares all works" loading="lazy">
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>

  <section id="servicios">
    <div class="container">
      <div class="grid">
        <div class="service" id="servTec">
          <i class="bi bi-pc-display"></i>
          <h4 class="tituloService">Soporte técnico</h4>
          <p class="textoService">Asistencia técnica sobre las aplicaciones.</p>
        </div>
        <div class="service" id="programacion">
          <i class="bi bi-code-square"></i>
          <h4 class="tituloService">Programación</h4>
          <p class="textoService">Diseño y mantenimiento de páginas web responsivas.</p>
        </div>
        <div class="service" id="cctv">
          <img src="panel.png" class="logoPanel" alt="panel">
          <h4 class="tituloService">Paneles solares</h4>
          <p class="textoService">Revolucionamos la eficiencia y la eficacia en el autoconsumo.</p>
        </div>
        <div class="service" id="telefonia">
          <i class="bi bi-telephone"></i>
          <h4 class="tituloService">Telefonía IP</h4>
          <p class="textoService">Implementación sobre plataforma Asterisk.</p>
        </div>
        <div class="service" id="antenas">
          <i class="bi bi-broadcast-pin"></i>
          <h4 class="tituloService">Antenas satelitales</h4>
          <p class="textoService">Tecnología punta, únicos proveedores en el país.</p>
        </div>
        <div class="service" id="estructura">
          <i class="bi bi-building-fill"></i>
          <h4 class="tituloService" id="infraestructura">Soluciones de infraestructura</h4>
          <p class="textoService">Enlaces y cableados estructurados de redes a medida.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="clientes">
    <div class="container">
      <h2 >Nuestros clientes son de talla mundial</h2>
      <h3 >Si ellos confiaron en nosotros,<b> ¿Por qué vos no lo harías?</b></h3>
      <div class="empresas row mx-auto mb-4">
        <div class="col-md-6 clientes-left">
          <div class="empresas-container">
            <div class="empresas-detalles">
              <a href="https://www.powerchina.com.ar/" target="_blank">
                <h3>PowerChina</h3>
              </a>
            </div>
            <img src="powerchina.webp" class="img-fluid blur" alt="powerchina" loading="lazy">
          </div>
        </div>
        <div class="col-md-6 clientes-right">
          <div class="empresas-container">
            <div class="empresas-detalles">
              <a href="https://argentina.cinecolorgroup.com" target="_blank">
                <h3>Cinecolor</h3>
              </a>
            </div>
            <img src="cinecolor.webp" class="img-fluid blur" alt="cinecolor" loading="lazy">
          </div>
        </div>
        <div class="col-md-6 clientes-left">
          <div class="empresas-container">
            <div class="empresas-detalles">
              <a href="https://www.cinemarkhoyts.com.ar/" target="_blank">
                <h3>Cinemark</h3>
              </a>
            </div>
            <img src="cinemark.webp" class="img-fluid blur" alt="cinemark" loading="lazy">
          </div>
        </div>
        <div class="col-md-6 clientes-right">
          <div class="empresas-container">
            <div class="empresas-detalles">
              <a href="https://www.multiplex.com.ar/" target="_blank">
                <h3>Multiplex</h3>
              </a>
            </div>
            <img src="multiplex.webp" class="img-fluid blur h-100" alt="multiplex" loading="lazy">
          </div>
        </div>
        <div class="col-md-6 clientes-left">
          <div class="empresas-container">
            <div class="empresas-detalles">
              <a href="https://www.cinemarkhoyts.com.ar/" target="_blank">
                <h3>Showcase</h3>
              </a>
            </div>
            <img src="showcase2.jpg" class="img-fluid blur" alt="showcase" loading="lazy">
          </div>
        </div>
        <div class="col-md-6 clientes-right">
          <div class="empresas-container">
            <div class="empresas-detalles">
              <a href="https://www.multiplex.com.ar/" target="_blank">
                <h3>Cinépolis</h3>
              </a>
            </div>
            <img src="cinepolis.jpg" class="img-fluid blur h-100" alt="cinepolis" loading="lazy">
          </div>
        </div>
      </div>


      <div id="carouselExampleDark" class="divImagenes3 carousel carousel-dark slide mx-auto" data-bs-ride="carousel">
        <div class="carousel-indicators indicadores">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active h-100" data-bs-interval="2000">
            <img src="DZE Final.jpg" class="d-block w-100 " alt="dze" loading="lazy">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="Feedback Seguridad.jpg" class="d-block w-100 h-100" alt="feedback seguridad" loading="lazy">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="Wamco Final 2.jpg" class="d-block w-100 h-100" alt="wamco" loading="lazy">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="Rotofrance Final.jpg" class="d-block w-100 h-100" alt="rotofrance" loading="lazy">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="Horqueta Final.jpg" class="d-block w-100 h-100" alt="la horqueta rehabilitacion" loading="lazy">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="AmericanC Final.JPG" class="d-block w-100 h-100" alt="american confort" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contacto">
    <div class="container">
      <h2 >¿Deseas contactarte con nuestro equipo?</h2>
        <div class="row mt-4">
          <div class="col-md-7 mt-4">
            <iframe class="contacts" loading="lazy"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d411.37145925389746!2d-58.88487238658853!3d-34.427474618403814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9d348b838911%3A0xf0d5449df1f12172!2sAll%20Works%20Ingenier%C3%ADa!5e0!3m2!1ses-419!2sar!4v1673247484741!5m2!1ses-419!2sar"
              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-md-5 mt-4 flex">
            <form id="form" action="https://formspree.io/f/xayzwvry" method="POST">
              <h3>Contactate con un asistente por Whatsapp (abajo) o 📧.</h3>
              <div class="row">
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" id="" placeholder="Nombre" name="Nombre">
                </div>
                <div class="col-md-6 mb-2 ">
                  <input type="number" class="form-control" id="" placeholder="Número de teléfono" name="Número">
                </div>
                <div class="col-md-12 my-2 ">
                  <input type="text" class="form-control" id="" placeholder="Nombre de la compañía" name="Compañía">
                </div>
                <div class="col-md-12 my-2 ">
                  <input type="email" class="form-control" id="" placeholder="E-mail (requerido)" name="E-mail"
                    required>
                </div>
                <div class="col-md-12 my-2 ">
                  <input type="text" class="form-control" id="" placeholder="Mensaje (requerido)" name="Mensaje"
                    required>
                </div>
                <div class="col-md-12 my-2 ">
                  <button class="enviar btn-secondary full-width" type="submit">
                    <p>Contactar</p>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </section>

  <footer>
    <div class="divFooter">
      <img src=".prueba3 negro.png" alt="logo all works" class="logo">
      <a href="./indexAWS.html"><img src="pruebaSat2.png" alt="logo all works & sat" class="logo"></a>
    </div>
    <ul>
      <li class="botones2"><a href="#nosotros">Sobre Nosotros</a></li>
      <li class="botones2"><a href="#servicios">Servicios</a></li>
      <li class="botones2"><a href="#clientes">Clientes</a></li>
      <li class="botones2"><a href="#contacto">Contacto</a></li>
    </ul>
    <span class="copyright">2023, All Works. Todos los derechos reservados ©
      <br>
    </span>
  </footer>
  <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>
  <script is:inline src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
</body>

</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

/* Sacar los botones del input number */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* General */
/*hola*/
:root{
    font-size: 16px;
    --primary:rgb(33,37,41);
    --background: rgb(248, 248, 248);
    --default-font: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;  
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.bi-whatsapp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #1bd741;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 1px 10px black;
    z-index: 1021;
    transition: .3s all;
}

.bi-whatsapp:hover{
    background-color: white;
    color:#1bd741;
    transition: .3s all;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: clamp(1.4rem, 2vw + 1rem, 10rem);
    margin-bottom: 20px;
    font-weight: 500;
}

h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: clamp(1.5rem, 2vw + 0.1rem, 10rem);
    margin-bottom: 20px;
    font-weight: 500;
}

h3{
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: clamp(1.3rem, 1.8vw + 0.2rem, 9rem);
    margin-bottom: 40px;
}

section{
    border-bottom: 2px solid #00000010;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

a:link, a:visited {
    text-decoration: none;
}

/* Portada */
.principal{
    padding: 0;
    margin: 0;
    border: 0;
    display: grid;
    place-content: center;
    min-height: 100vh;
    max-height: 100vh;
    background:url(/fondo.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-position-y:bottom;
    background-size: cover;
    z-index: 1030;
}

.portada{
    height: 90vh;
    display: grid;
    place-content: center;
}

#divFlecha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;
}

.js{
    transition: all 2s;
}

.flecha{
    width: 7px;
    height: 33px;
    border-radius: 5px;
    background-color: var(--primary);
    margin: 6px;
    animation: move 1.1s infinite ease-in-out;
}

.flecha:nth-of-type(1){
    transform: rotate(-45deg);
}

.flecha:nth-of-type(2){
    transform: rotate(45deg);
}

@keyframes move{
    0%{margin-top: 0;}
    50%{margin-top: 70px;}
    100%{margin-top: 0;}
}

/* Header */
header{
    transition: all 300ms;
    height: clamp(5rem, 4vw + 0.1rem , 9rem);
    z-index: 100;
    background-color: white;
    border: 1px solid #00000010;
    box-shadow: 5px 0px 5px 0px #0000001e;
    display: grid;
    place-content: center;
}

header li{
    font-family: var(--default-font);
    font-size: clamp(0.6rem, 0.8vw + 0.1rem , 5rem);
    margin: 0px 1rem 0px 1rem;
    text-align: center;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.botones:hover{
    transform: scale(1.05);
    transition: all 0.35s ease;
}

.botones3:hover{
    transform: scale(1.05);
    transition: all 0.35s ease;
}


/* Nosotros */
.nosotros{
    background-color: var(--background);
}

.divImagenes,.divImagenes{
    margin: 5rem 0;
}

.info{
    font-size: clamp(0.7rem, 1vw + 0.2rem, 6rem);
    font-family: var(--default-font)
}

.tituloInfo{
    font-family: var(--default-font);
    font-size: clamp(1.3rem, 1vw + 0.6rem, 6rem);
    font-weight: 600;
}

.divImagenes{
    width: 63vw;
    height: 100%;
    left: -10%;
}

.divImagenes2{
    width: 63vw;
    height: 100%;
    left: 10%;
}

.divImagenes img{
    aspect-ratio: 3/4;
    height: 90vh;
}

.divImagenes2 img{
    aspect-ratio: 3/4;
    height: 90vh;
}

.fit{
    object-fit: none;
}

.relative{
    position: relative;
}

.nuevo{
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 100;
    width: 48vw;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 17%, rgba(248,248,248,1) 100%);
    padding: 40px;
    border-radius: 5px;
}

.nuevo2{
    position: absolute;
    top: 30%;
    right:50%;
    z-index: 100;
    width: 48vw;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(250,250,250,1) 79%, rgba(255,255,255,1) 100%);
    padding: 40px;
    border-radius: 5px;
}

.hide{
    display: none;
}

#leerMas{
    display: none;
}

.mostrar{
    display: inline;
}
/* Servicios */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 3vh 0;
}

.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor:pointer;
    background: transparent;
    transition: all 0.3s;
    transform: translateX(-100%);
    margin: 10px 0;
}

.service i{
    font-size: clamp(1.25rem, 1.5vw + 0.6rem, 6rem);
    margin-bottom: 10px;
}

.logoPanel{
    width: clamp(1.25rem, 2.05vw + 0.6rem, 6rem);
    margin-bottom: 8px;
}

#infraestructura{
    font-size: clamp(1.25rem, 1.3vw + 0.3rem, 6rem);
    margin-top: 4px;
}

.tituloService{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 8px;
    font-size: clamp(1.25rem, 1.5vw + 0.3rem, 6rem);
}

.textoService{
    font-family: var(--default-font);
    font-size: clamp(0.7rem, 1vw + 0.2rem, 6rem);
}

.service:hover{
    background: #212529;
    color: #fff;
    transform: scale(1.05);
}

/*transform: translate(100%,50%);*/

.service:hover i{
    color: #fff;
}

/* Clientes */
#clientes{
    background-color: var(--background);
}

.clientes-right{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.clientes-left{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.empresas{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.empresas-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: all 1s;
    transform: translateX(-40%);
    height: 100%;
}

.empresas-container img {
    transition: all 0.8s;
}

.empresas-container:hover img {
    transform: scale(1.1);
    transition: all 1s;
}

.empresas-detalles {
    position: absolute;
    bottom: 20px;
    left: 5px;
    z-index: 90;
}

.empresas-detalles a h3{
    font-size: clamp(1.3rem, 1.8vw + 0.2rem, 9rem);
    margin-bottom: 0;
    margin-left: 1rem;
    color: white;
    text-shadow: 5px 5px 5px var(--primary);
}

.divImagenes3{
    width: 30vw;
    margin: auto !important ;
    display: grid;
}

.divImagenes3 img{
    width: 100%
}



/* Contacto */
.flex{
    display: flex;
    align-items: center;
    justify-items: center;
}

.contacts{
    transform: translateX(-30%);
    height: 60vh;
}

iframe{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1.5px solid #cacaca;
}

.form-control{
    font-size: 0.95rem;
    border: 1px solid var(--primary);
    padding: 1rem;
    border-radius: 5px;
}

.form-control:focus {
    border: 1px solid var(--primary);
    outline: none;
    box-shadow: none;
}

.enviar {
    font-size: 0.95rem;
    padding: 1rem;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    background-color: var(--primary);
    color: white;
    border: 2px solid var(--primary);
}

button p{
    margin: 0;
}

button p:hover{
    transform: scale(1.1);
    transition: 0.3s all;
}

.numero{
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}

/* Footer */
footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer img{
    height: 5.5vh;
    margin-bottom: 1rem;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.botones2{
    margin: 0px 10px 0px 10px;
    list-style-type: none;
    font-family: var(--default-font);
    font-size: 0.8rem;
    opacity: 0.5;
}

footer a{
    color: var(--primary);
}

footer a:hover{
    color: var(--primary)
}

.botones2:hover{
    transform: scale(1);
    transition: all 0.35s ease;
    text-decoration: none;
    opacity: 1;
}

.copyright{
    opacity: 0.4;
    font-size: 0.75rem;
    cursor: context-menu;
}

.divFooter{
    display: flex;
    gap: 30px;
}

.logo:hover{
    transform: scale(1.2);
    transition: 0.5s all;
}

footer a::after{
    content: "";
    position: absolute;
    background-color: var(--primary);
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: 1px;
    transition: all .25s ease-in-out;
}

footer a:hover::after{
    content: "";
    position: absolute;
    background-color: var(--primary);
    height: 1.5px;
    width: 100%;
    left: 0;
    bottom: 1px;
    transition: all .2s ease-in-out;
}

/* Otros */

.centrar{
    display: grid;
    place-items: center;
}

.blur{
    filter: blur();
    -webkit-filter: blur(2px);
}


.show{
    transform: translateX(0%);
    transition: all 0.8s;
}

.container{
    max-width: 1000px;
}

@media (min-width: 1600px){
    .container{
        max-width: 1200px;
    }
}

@media (min-width: 1800px){
    .container{
        max-width: 1400px;
    }
}

@media(min-width: 2600px){
    .container{
        max-width: 2200px;
    }
}

@media(min-width: 3200px){
    .container{
        max-width: 2800px;
    }
}

@media(max-width: 1000px){
    .principal{
        padding: 0;
        margin: 0;
        border: 0;
        height: 100dvh;
        background-position: right;
        background-repeat: no-repeat;
        background-position-y:bottom;
        background-size: clamp(20rem, 100vw + 2rem, 60rem);
    }
    .divInfo, .divInfo3{
        background-repeat: no-repeat;
        background-size: 70%;
    }  



    .show{
        transform: translateX(0%);
        transition: all 0.8s;
    }
}

@media(max-width: 1200px){
    .divImagenes2{
        height: 70vh;
        width: 90% !important;
    }
}

@media(max-width: 700px){

    header li{
        font-family: var(--default-font);
        font-size: clamp(0.6rem, 0.8vw + 0.6rem , 5rem);
        margin: 0px .5rem 0px .5rem;
        text-align: center;
    }

    .principal{
        height: 100dvh;
        background-size: clamp(40rem, 100vw + 0.6rem, 60rem);
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        padding: 0;
    }
    .service{
        text-align: center;
        padding: 25px 10px;
        border-radius: 5px;
        font-size: 1rem;
        cursor:pointer;
        background: transparent;
        transition: all 0.3s;
        margin: 10px 0;
    }
    
    .service i{
        font-size: clamp(1.25rem, 1.5vw + 0.6rem, 6rem);
        margin-bottom: 10px;
    }
    
    .tituloService{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin-bottom: 8px;
        font-size: clamp(1.25rem, 1.5vw + 0.3rem, 6rem);
    }
    
    .textoService{
        font-family: var(--default-font);
        font-size: clamp(1rem, 1vw + 0.3rem, 6rem);
    }


    #nosotros h3{
        margin-bottom: 0;
    }

    .divImagenes{
        width: 100%;
        height: 100%;    
        margin: 0;
        left: 0;
    }
    
    .divImagenes img{
        aspect-ratio: 3/4;
        height: 50vh;
        object-fit:cover;
    }
    
    .divImagenes2{
        width: 100%;
        height: 100%;    
        margin: 0;
        left: 0;
    }
    
    .divImagenes2 img{
        aspect-ratio: 3/4;
        height: 50vh;
        object-fit:cover;
    }
    
    .nuevo{
        position: relative;
        left: 0;
        top: 0;
        z-index: 100;
        width: 100%;
        background: none;
        padding: 2rem 0;
        border-radius: 5px;
    }
    
    .nuevo2{
        position: relative;
        left: 0;
        top: 0;
        z-index: 100;
        width: 100%;
        background: none;
        padding: 2rem 0;
        border-radius: 5px;
    }
    #nosotros{
        padding-bottom: 0;
    }

    .info{
        text-align: center;
    }

    footer ul{
        flex-direction: column;
        margin: 0;
    }
    footer li{
        padding: 0.5rem 0;
    }

    #contacto, #servicios{
        padding-bottom: 0;   
    }

    .divInfo,.divInfo3{
        padding: 0;
    }

    .divImagenes3{
        width: 65vw;
        margin: auto !important ;
        display: grid;
        border-radius: 5px;
    }

    .empresas{
        display: grid;
        grid-template-columns: 100%;
        place-items: center;
        width: 70vw;
    }
    
    .empresas-container {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        transition: all 1s;
        transform: translateX(-40%);
        height: 100%;
    }



    .show{
        transform: translateX(0%);
        transition: all 0.8s;
    }
}


</style>

<script>
	const header = document.getElementById("header");
	const $form = document.getElementById("form");
	const empresas = document.querySelectorAll(".img-fluid")
	const divEmpresas = document.querySelectorAll(".empresas-container")
	const servicios = document.querySelectorAll(".service")
	const contacts = document.querySelectorAll(".contacts")

	const texto = document.getElementById("leerMas")
	const flechas = document.querySelectorAll(".js")
	const divFotos = document.querySelectorAll(".divFotos")

	const servTec = document.getElementById("servTec")
	const programacion = document.getElementById("programacion")
	const cctv = document.getElementById("cctv")
	const telefonia = document.getElementById("telefonia")
	const antenas = document.getElementById("antenas")
	const estructura = document.getElementById("estructura")

window.addEventListener("scroll", () => {
    const scrolled = window.scrollY;
    if (scrolled > 1) {
        flechas.forEach(flecha => {
            flecha.classList.remove("flecha")
        })
    }
})

servTec.addEventListener("click", () => {
    Swal.fire({
        showConfirmButton: false,
        showCloseButton: true,
        html:
        '<i class="bi bi-pc-display" style="font-size: 50px; color: black;"></i>' + 
        '<h3 class="tituloService" style="margin-top: 20px; color: black; font-size: 1.8rem;">Soporte técnico</h3>' +
        '<p class="textoService" style="margin-top: 10px; font-size: 1.2rem; color: black;">Asesorías, proyecto básico, proyecto ejecutivo, asistencia técnica a la implementación, otros servicios.</p>',
    })
})

programacion.addEventListener("click", () => {
    Swal.fire({
        showConfirmButton: false,
        showCloseButton: true,
        html:
        '<i class="bi bi-code-square" style="font-size: 50px; color: black;"></i>' + 
        '<h3 class="tituloService" style="color: black; font-size: 1.8rem; margin-top: 10px;">Programación</h3>' +
        '<p class="textoService" style=" font-size: 1.2rem; color: black; margin-top: 20px;">Páginas web para PC, tabletas y celulares, desde páginas informativas hasta tiendas online.</p>',
    })
}) 

cctv.addEventListener("click", () => {
    Swal.fire({
        showConfirmButton: false,
        showCloseButton: true,
        html:
        '<img src="panel.png" class="logoPanel" style="width: 60px">' + 
        '<h3 class="tituloService" style="margin-top: 15px; color: black; font-size: 2rem;">Paneles solares</h3>' +
        '<p class="textoService" style="margin-top: 10px; font-size: 1.2rem; color: black;">Buscamos la mayor rentabilidad en energía solar y autoconsumo para nuestros clientes, asesorando y diseñando las instalaciones en base a la necesidad de cada empresa.</p>',
    })
})

telefonia.addEventListener("click", () => {
    Swal.fire({
        showConfirmButton: false,
        showCloseButton: true,
        html:
        '<i class="bi bi-telephone" style="font-size: 50px; color: black;"></i>' + 
        '<h3 class="tituloService" style="margin-top: 20px; color: black; font-size: 2rem;">Telefonía IP</h3>' +
        '<p class="textoService" style="margin-top: 10px; font-size: 1.2rem; color: black;">Asesoramiento, implementación, customización, configuración, diseño de soluciones a medida, adaptación y reutilización de equipamiento, provisión de Hardware y mantenimiento. Desarrollo sobre la plataforma que brinda ASTERISK.</p>',
    })
})

antenas.addEventListener("click", () => {
    Swal.fire({
        showConfirmButton: false,
        showCloseButton: true,
        html:
        '<i class="bi bi-broadcast-pin" style="font-size: 50px; color: black;"></i>' + 
        '<h3 class="tituloService" style="margin-top: 20px; color: black; font-size: 2rem;">Antenas satelitales</h3>' +
        '<p class="textoService" style="margin-top: 10px; font-size: 1.2rem; color: black;">Instalación de antenas satelitales receptoras para los cines de todo el país.</p>' +
        '<br>Ver también <a href="/indexAWS.html" target="_blank" class="numero">All Works & SAT.</a>',
    })
})

estructura.addEventListener("click", () => {
    Swal.fire({
        showConfirmButton: false,
        showCloseButton: true,
        html:
        '<i class="bi-building-fill" style="font-size: 50px; color: black;"></i>' + 
        '<h3 class="tituloService" style="margin-top: 20px; color: black; font-size: 1.9rem;">Soluciones de infraestructura</h3>' +
        '<p class="textoService" style="margin-top: 10px; font-size: 1.2rem; color: black;">Asesoramiento, diseño e implementación de enlaces y redes inalámbricas, redes de telemetría, datos y vigilancia para parques eólicos, yacimientos de gas y petróleo. Diseño y cálculo de redes de fibra óptica tendidos aéreos y subterráneos.</p>',
    })
})


const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
        if (entry.isIntersecting){
            entry.target.classList.add("show");
        }
    })
})

empresas.forEach(img => {
    img.addEventListener("mouseover", () => {
        img.classList.remove("blur")
    })
})

empresas.forEach(img => {
    img.addEventListener("mouseout", () => {
        img.classList.add("blur")
    })
})

servicios.forEach((servicio) => observer.observe(servicio))
divEmpresas.forEach((empresa) => observer.observe(empresa))
contacts.forEach((contact) => observer.observe(contact))
divFotos.forEach((foto) => observer.observe(foto))


$form.addEventListener("submit", handleSubmit)

async function handleSubmit(e){
    e.preventDefault();
    const form = new FormData(this);
    const response = await fetch(this.action, {
        method: this.method,
        body: form,
        headers: {
            "Accept": "application/json"
        }
    })
    if(response.ok){
        Swal.fire({
            position: '',
            icon: 'success',
            title: 'Tu e-mail fue enviado',
            text:"¡Gracias por contactarte con All Works!",
            showConfirmButton: false,
            timer: 2500,
            width: "400px"
          })
        $form.reset()
    }   
}

</script>